/**
body {
	background: linear-gradient(-30deg, #86b9b0, #4c7273, #042630, #041421);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}**/

body {
	background: #4C7273;
	margin: 0; 
	padding: 0;
	height: 100vh;
}

.header {
	background-color: #042630;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
}

.header a {
	float: right;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.logo {
	float: left;
	padding: none;
	margin: none;
	height: 200px;
	width: auto;
}

